.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.roundcounter-container {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.guess-btn { 
   margin-right: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   border: 1px solid white;
   border-radius: 5px;
   color: whitesmoke;
   padding: 5px 10px;
   cursor: pointer;
}

.guess-btn:last-child {
    margin-right: 0px;
}

.guess-btn:hover {
    transform: scale(1.05);
}

.flag-container {
    margin: 5% 0%;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    background-color: whitesmoke;
    border: 4px solid black;
    border-radius: 8px;
}

.flag-container img {
    width: 100%;
    height: auto;
    border: 3px solid black;
}

.nextround-btn-container button {
    margin: 30% 0%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.nextround-btn-container button:hover {
    transform: scale(1.05);
}

.score-display {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.gameover-msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameover-msg {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.final-score {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.gameover-btn-container {
    display: flex;
}

.gameover-btn-container button:hover {
    transform: scale(1.05);
}

.retry-btn {
    margin-right: 10px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #1393EC;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.quit-btn {
    margin-left: 10px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #1393EC;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    }