.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: white;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px; 
}

.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(10, 10, 255);
    border-radius: 9px;
}

.inputs{
    align-items: center;
   margin-top: 55px;
   display: flex;
   flex-direction: column;
    gap:25px;
}

.input{
    display: flex;
    align-items: center;
    margin-left: 50%;
    width: 480px;
    height: 80px;
    background-color: aqua;
    border-radius: 6px;
}

.input img{
    width: 10px;
    height: 10px;
    margin: 0px 3px;
}
.img{
    height: 15px;
}

input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: blueviolet;
    font-size: 18px;
}
.forgot-password span{
    color: crimson;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    color: cornsilk;
    background-color: #0101ff;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background-color: crimson;
    color: black;
}